parameters:
    level: 8
    paths:
        - src
        - tests
    ignoreErrors:
        - identifier: argument.type
        - identifier: method.nonObject
        - identifier: missingType.iterableValue
