parameters:
    level: 8
    paths:
        - public
        - src
    ignoreErrors:
        - identifier: missingType.iterableValue 
        - identifier: variable.undefined
        - identifier: offsetAccess.nonOffsetAccessible
        - identifier: method.nonObject 
        - identifier: method.notFound 
        - identifier: argument.type
        - identifier: argument.templateType
